%h1
  Hello From McNamara

%h2
  You are using
  = request.env["soldierofcode.spy-vs-spy"].browser
  version
  = request.env["soldierofcode.spy-vs-spy"].version
  on operating system
  = request.env["soldierofcode.spy-vs-spy"].os
